@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Lora";
    src: url("fonts/ofont.ru_Lora.ttf");
    font-weight: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/ofont.ru_Open Sans.ttf");
}

h1{
	font-family:'Oswald';
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 0.8;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

p{
	font-family:'Open Sans';
	font-size: 20px;
	line-height: 2;
	text-indent: 40px;
	text-align: justify;
}

.lora{
	font-family:'Lora';
	font-size: 20px;
	line-height: 1.5;
	text-indent: 40px;
	text-align: justify;
}


body{
	background-color: #eb933a;
}

li{
	display: inline;
	margin-left: 5%;
}

a {
	color: whitesmoke;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: orange;
}

